<body style="background-color:rgba(245, 245, 245, 0.884)">
  <div class="container">
  <img src="assets/Images/docs.jpg" alt="help-background" width="900px" height="500px" >
  <div class="top-left">Product Documentation and Software downloads</div>
  <div class="text">Download documents, support information, software, video and audio content.</div>
  </div>

  <div class="container-fluid">
    <h1 class="lead" style="text-align: justify; color: limegreen; font:bold">
      Documents and Downloads.             
    </h1>
    <p class="lead">
      Download the documents, datasheets, software and certificates of different products and components available in the configure tool</p>
      <a style="color:deepskyblue;"href="https://www.se.com/in/en/download/">Download Now ></a><p></p>
    </div>

    <div class="container-fluid">
      <h1 class="lead" style="text-align: justify; color: limegreen; font:bold">
        CAD files.             
      </h1>
      <p class="lead">
        Discover the cad files here.  
      </p>
        <a style="color:deepskyblue;"href="https://www.se.com/ww/en/download/search/?docTypeGroup=3541962-CAD+files&sortByField=Popularity">Explore Now ></a><p></p>
      </div>

    <p><br></p>
  </body>