<!-- -------------------------------NEW HTML------------------------- -->
<div class="login-container">
  <h2>Welcome to Schneider Electric LV Breaker Configuration Tool</h2>
  <div class="container" id="container">
    <div class="form-container sign-up-container">
      <form action="#">
        <h1>Create Account</h1>
        <div class="social-container">
          <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
          <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
          <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
        </div>
        <span>or use your email for registration</span>
        <input type="text" placeholder="Name" />
        <input type="email" placeholder="Email" />
        <input type="password" placeholder="Password" />
        <button>Sign Up</button>
      </form>
    </div>
    <div class="form-container sign-in-container">
      <form action="#">
        <h1 style="margin-bottom: 10px;">Sign in</h1>

        <input type="email" placeholder="Email" name="username" [(ngModel)]="username" />
        <input type="password" placeholder="Password" name="password" [(ngModel)]="password"
          (keydown)="keyDownFunction($event)" />
        <a href="#">Forgot your password?</a>
        <button (click)="login()">Sign In</button>

        <div *ngIf="authFailed" class="alert alert-danger col-sm-12">Please enter valid username and password.</div>
        <div *ngIf="approvalPending" class="alert alert-danger col-sm-12">Your request is still waiting for approval.
        </div>
        <div *ngIf="userInactive" class="alert alert-danger col-sm-12">Currently this user is In active.</div>
        <div *ngIf="emailNotVerified" class="alert alert-danger col-sm-12">Your email has not been verified.</div>
      </form>
    </div>
    <div class="overlay-container">
      <div class="overlay">
        <div class="overlay-panel overlay-left">
          <h1>Welcome Back!</h1>
          <p>To keep connected with us please login with your personal info</p>
          <button class="ghost" id="signIn">Sign In</button>
        </div>
        <div class="overlay-panel overlay-right">
          <h1>Hello, User!</h1>
          <p>Enter your personal details and Configuration Your Tool with us</p>
          <button class="ghost" id="signUp">Sign Up</button>
        </div>
      </div>
    </div>
  </div>

</div>