<body style="background-color:rgba(245, 245, 245, 0.884)">
  <p><br></p>
  <div class="container">
    <h1 class="lead" style="color: limegreen; font:bold; font-size: xx-large;">
      About the product         
    </h1>
  <img src="assets/Images/viewa.PNG" alt="view-background" width="700px" height="700px" >
  <p class="lead">
    Contains information about the products...<br>...<br>...</p>
  <img src="assets/Images/viewb.PNG" alt="view-background" width="700px" height="700px" >
  <p class="lead">
    Contains information about the products...<br>...<br>...</p>
  <img src="assets/Images/viewc.PNG" alt="view-background" width="700px" height="700px" >
  <p class="lead">
    Contains information about the products...<br>...<br>...</p>
  </div>

  <div class="container-fluid">
    <h1 class="lead" style="color: limegreen; font:bold">
      Frequently asked questions about the product.            
    </h1>
    <p class="lead">
      Easily find answers to your queries from our online FAQ service. </p>
      <a style="color:deepskyblue" href="https://www.se.com/in/en/faqs/home/">Browse FAQ ></a><p></p>
    </div>    
    <p><br></p>
  </body>