<body style="background-color:rgba(245, 245, 245, 0.884);" >
<div class="container">
    <h2>Schneider Digital</h2>  
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
  
      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="item active">
          <img src="../../assets/Images/sh1.jpg" alt="Los Angeles" style="width:100%;">
        </div>
  
        <div class="item">
          <img src="../../assets/Images/sh2.jpg" alt="Chicago" style="width:100%;">
        </div>
      
        <div class="item">
          <img src="../../assets/Images/sh3.png" alt="New york" style="width:100%;">
        </div>
      </div>
  
      <!-- Left and right controls -->
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
      <div class="container-fluid" style="margin-left: 190px; margin-right: 190px; margin-top: 30px; background-color:white;">
      <h1 class="lead" style="text-align: justify; color: limegreen; font:bold">
         What we do at Schneider Electric            
      </h1>
      <p class="lead" style="text-align: justify; font-size: medium; color: darkslategray;">
        We provide energy and automation digital solutions for efficiency and sustainability. We combine world-leading energy technologies, real-time automation, software and services into integrated solutions for homes, buildings, data centres, infrastructure and industries. We make process and energy safe and reliable, efficient and sustainable, open and connected.      
      </p>
      <a style="color:deepskyblue" href="https://www.se.com/in/en/work/campaign/innovation/overview.jsp">Learn more ></a>
      <p><br></p>
      </div>
      <div class="container-fluid" style="margin-left: 190px; margin-right: 190px; margin-top: 30px; background-color:white;">
        <h1 class="lead" style="text-align: justify; color: limegreen; font:bold">
          Our technology, everywhere.            
        </h1>
        <p class="lead" style="text-align: justify; font-size: medium; color: darkslategray;">
          Our technologies ensure that Life Is On everywhere, for everyone and at every moment.  
        </p>
        <br>
        </div>
        <div class="container-fluid" style="margin-left: 190px; margin-right: 190px; margin-top: 30px; background-color:white;">
          <h1 class="lead" style="text-align: justify; color: limegreen; font:bold">
            Our governance structure            
          </h1>
          <p class="lead" style="text-align: justify; font-size: medium; color: darkslategray;">
            Schneider Electric is a European company with a board of directors. The functions of the Chairman and the Chief Executive Officer are carried out by Jean-Pascal Tricoire, who was appointed Chairman and Chief Executive Officer on 25 April 2013. 
          </p>
          <a style="color:deepskyblue" href="https://www.se.com/ww/en/about-us/company-profile/corporate-governance.jsp">Understand more ></a>
          <p><br></p>
          </div>
        <div class="container-fluid" style="margin-left: 190px; margin-right: 190px; margin-top: 30px; background-color:white;">
          <h1 class="lead" style="text-align: justify; color: limegreen; font:bold">
            Over 180 years of history and innovation            
          </h1>
          <p class="lead" style="text-align: justify; font-size: medium; color: darkslategray;">
            Our story is written by generations of people who have been transforming our company – and the world – for almost two centuries. Today, our heritage empowers us to innovate at every level - and to ensure that Life Is On
          </p>
          <a style="color:deepskyblue" href="https://www.se.com/in/en/about-us/company-profile/history/schneider-electric-history.jsp">Read more ></a>
          <p><br></p>
          </div>
</body>

